.dashboard {
  background: linear-gradient(to left, rgb(129, 129, 241), darkblue);
}
.results {
  flex: 5;
}
.searchMenu {
  flex: 1;
}
input {
  border: none;
  border: 1px solid black;
  border-radius: 10px;
}
.searchheading > input {
  margin-bottom: 0;
}
.liItems {
  list-style: none;
}
.cityList {
  padding: 10px;
}
.cityList a {
  text-align: center;
  background: grey;
  padding: 5px;
  color: black;
  border-radius: 4px;
}
.UVstyle span {
  padding: 0 25px 0 25px;
  border-radius: 7px;
  color: white;
}
.forecaseDays div div {
}
